In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("G:\KP_Proyek\AKUN EPI - System Account.csv")

In [4]:
print(data)

     In System Approval? Unnamed: 1                        Email    Password
0               Internal    Project                          NaN         NaN
1                MANAGER        NaN                          NaN         NaN
2                   TRUE       TRUE   general.manager@eltama.com   EpiGM@937
3                   TRUE       TRUE     plant.manager@eltama.com   EpiPM@632
4                   TRUE       TRUE  manager.produksi@eltama.com  EpiPRD@179
...                  ...        ...                          ...         ...
1025               FALSE      FALSE                          NaN         NaN
1026               FALSE      FALSE                          NaN         NaN
1027               FALSE      FALSE                          NaN         NaN
1028               FALSE      FALSE                          NaN         NaN
1029               FALSE      FALSE                          NaN         NaN

[1030 rows x 4 columns]

In [7]:
# Menghapus baris yang semua kolomnya NaN
data = data.dropna(how='all')

# Menghapus baris yang mengandung NaN di kolom tertentu
data = data.dropna(subset=['Email', 'Password'])

# Mengganti NaN dengan nilai tertentu
data = data.fillna('')  # Ganti dengan string kosong
data = data.fillna(0)   # Ganti dengan angka 0

# Cek info data setelah pembersihan
print(f"Jumlah baris setelah pembersihan: {len(data)}")
print(data.info())

Jumlah baris setelah pembersihan: 55
<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 2 to 66
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   In System Approval?  55 non-null     object
 1   Unnamed: 1           55 non-null     object
 2   Email                55 non-null     object
 3   Password             55 non-null     object
dtypes: object(4)
memory usage: 2.1+ KB
None

In [8]:
print(data)

   In System Approval? Unnamed: 1                           Email     Password
2                 TRUE       TRUE      general.manager@eltama.com    EpiGM@937
3                 TRUE       TRUE        plant.manager@eltama.com    EpiPM@632
4                 TRUE       TRUE     manager.produksi@eltama.com   EpiPRD@179
5                 TRUE       TRUE  manager.maintenance@eltama.com    EpiMT@837
6                 TRUE       TRUE    manager.marketing@eltama.com   EpiMKT@952
7                 TRUE       TRUE           manager.it@eltama.com    EpiIT@137
8                 TRUE       TRUE          manager.hrd@eltama.com   EpiHRD@714
9                 TRUE       TRUE      manager.finance@eltama.com   EpiFNC@586
10                TRUE       TRUE  manager.procurement@eltama.com   EpiPRC@631
11                TRUE       TRUE    manager.inventory@eltama.com    EpiNV@412
12                TRUE       TRUE      manager.project@eltama.com   EpiPRJ@694
13                TRUE       TRUE              project@eltama.com   EpiPRJ@694
14                TRUE       TRUE            inventory@eltama.com   EpiINV@749
15                TRUE       TRUE          procurement@eltama.com   EpiPRC@518
16                TRUE       TRUE                  hrd@eltama.com   EpiHRD@152
17                TRUE       TRUE              finance@eltama.com   EpiFNC@294
18                TRUE       TRUE            marketing@eltama.com   EpiMKT@610
19                TRUE       TRUE             produksi@eltama.com   EpiPRD@851
20                TRUE       TRUE             direktur@eltama.com   EpiDRT@471
22                TRUE       TRUE               hafizh@eltama.com   Epihaf#801
23                TRUE       TRUE                 adit@eltama.com   Epiadi#809
24                TRUE       TRUE               vionda@eltama.com   Epivio#802
26                TRUE       TRUE              yasinta@eltama.com   Epiyas#401
27                TRUE       TRUE                  rio@eltama.com   Epirio#720
29                TRUE       TRUE               achmad@eltama.com   Epiach#701
30                TRUE       TRUE                 bayu@eltama.com   Epibay#450
32                TRUE       TRUE             ciketing@eltama.com   EpiCKT#511
33                TRUE       TRUE                anwar@eltama.com   Epianw#501
34                TRUE       TRUE                ineke@eltama.com   Epiine#506
35                TRUE       TRUE        admin.project@eltama.com  EpiADP#504!
36               FALSE       TRUE                 nada@eltama.com   Epinad#507
37               FALSE       TRUE                ridho@eltama.com   Epirid#513
38               FALSE       TRUE                irfan@eltama.com   Epiirf#520
39               FALSE       TRUE             julianto@eltama.com   Epijul#523
40               FALSE       TRUE                panji@eltama.com   Epipan#526
41               FALSE       TRUE               irsyad@eltama.com   Epiirs#529
42               FALSE       TRUE               taufik@eltama.com   Epitau#535
43               FALSE       TRUE                annga@eltama.com   Epiang#544
44               FALSE       TRUE                  ryo@eltama.com   Epiang#549
45               FALSE       TRUE                 desi@eltama.com   Epides#553
46               FALSE       TRUE                tegar@eltama.com   Epiteg#561
47               FALSE       TRUE                aulia@eltama.com   Epiaul#564
48               FALSE      FALSE               reyhan@eltama.com   Epirhn#565
51                TRUE       TRUE                surya@eltama.com   Episur#201
52                TRUE       TRUE                alysa@eltama.com   Epialy#203
53               FALSE       TRUE               ikhsan@eltama.com   Epiikh#204
54               FALSE       TRUE                datus@eltama.com   Epidat#207
55               FALSE       TRUE               marcel@eltama.com   Epimar#211
56               FALSE       TRUE                micky@eltama.com   Epimic#218
59                TRUE       TRUE                 aqsa@eltama.com   Epiaqs#101
60                TRUE       TRUE              shakila@eltama.com   Episha#103
61                TRUE       TRUE              prameta@eltama.com   Epieta#120
62               FALSE       TRUE                  hrd@eltama.com  EpiHRD#101!
64                TRUE       TRUE                niken@eltama.com   Epinik#301
66                TRUE       TRUE                 novi@eltama.com   Epinov#601

In [9]:
# Ekspor data yang sudah bersih ke file Excel
data = data.dropna()  # Pastikan hanya data tanpa NaN
data.to_excel("G:\\KP_Proyek\\AKUN_EPI_CLEAN.xlsx", index=False)
print("Data berhasil diekspor ke Excel.")

Data berhasil diekspor ke Excel.